<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>▶ %-5level %d{HH:mm:ss.SSS} [%thread] %logger{36}[%method:%line] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="kr.cloudsc.admin" level="debug" />
	<logger name="org.hibernate" level="INFO" />
	<logger name="org.hibernate.type" level="INFO" />
	<logger name="org.springframework" level="INFO" />
	<!-- <logger name="kr.cloudsc.openpaas" level="DEBUG" /> -->		
	
	<root level="info">
		<appender-ref ref="console"/>		
	</root>
</configuration>